<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @election.name %>
</p>

<p>
  <strong>Occurs on:</strong>
  <%= @election.occurs_on %>
</p>

<p>
  <strong>Published on:</strong>
  <%= @election.published_on %>
</p>

<p>
  <strong>Description:</strong>
  <%= @election.description %>
</p>

<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>
